*{
  padding: 0%;
  margin: 0%;
}

body{
  background-color: aliceblue;
}
table,tr,td,th{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: azure;
}

.row-1,.row-2,.row-3,.btn{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10vh;
  padding-top: 50px;
}
.btn{
  padding-bottom: 20px;
}
button{
  height: 4vh;
  width: 10vh;
}
button:hover{
  color: black;
  background-color: aquamarine;
}
.details{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
input{
  padding-left: 5px;
  margin-left: 10px;
  background-color: white;
  border: none;
  outline: none;
  height: 4vh;
  border-radius: 10px;
}
.gender>input{
  align-items: center;
height: 2vh;

}
h1{
  padding-top: 20px;
}
.table-data{

  min-width: 100vh;
  display: flex;
  justify-content: center;
  max-height: 30vh;
  position: relative;
  overflow-x:auto;
  scroll-behavior: smooth;
  z-index: 1;


}

th{
  position: sticky;
  top: 0%;
  z-index: 1;
}
.ip{
  min-width: 40vh;
}
td,th{
  padding:5px  ;
}
label{
  font-size: large;
 
}
.delete:hover{
  color: white;
  background-color: red;
}
.empty{
border: 1px solid aliceblue;
background-color: aliceblue;

}
